.boot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.boot-text {
  font-size: 80px;
  color: white;
  font-family: "Cinzel", serif;
  animation: fadeIn 2s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; letter-spacing: 20px; }
  to   { opacity: 1; letter-spacing: 5px; }
}
